//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/usr/share/rofi/themes/Pop-Dark.rasi"
//@theme "/usr/share/rofi/themes/dmenu.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/usr/share/rofi/themes/rounded-nord-dark.rasi"
//@theme "/usr/share/rofi/themes/squared-nord.rasi"
//@theme "/usr/share/rofi/themes/nord-oneline.rasi"
//@theme "/usr/share/rofi/themes/squared-nord.rasi"
//@theme "/usr/share/rofi/themes/Pop-Dark.rasi"
//@theme "/usr/share/rofi/themes/Pop-Dark.rasi"
//@theme "/home/mathieu/.local/share/rofi/themes/squared-nord.rasi"
@theme "/home/mathieu/.local/share/rofi/themes/squared-nord-perso.rasi"
